<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Jan Aaron Einloo</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner">
  <h1>Jan Aaron Einloo</h1>
  <p>see leht on loodud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2>Sisesta veoauto andmed:</h2>
  <form method="POST">
	<label for="carNumberInput">Numbrimärk: </label>
	<input type="text" id="carNumberInput" name="carNumberInput" placeholder="Numbrimärk..." value="<%= carNumber %>">
	<br>
	<label for="carEnterInput">Sisenemismass: </label>
	<input type="number" id="carEnterInput" name="carEnterInput" min="1000" max="100000" placeholder="Sisenemismass..." value="<%= carEnter %>">
	<br>
	<input type="submit" id="regSubmit" name="regSubmit" value="Salvesta">
	<p><%= notice %></p>
  </form>
  
 </body>
 </html>